<div>
  <h2>Example</h2>

<script type="text/code" class="code" data-lang="markup">
</script>

<script type="text/code" class="code line-numbers" data-lang="markup" data-line="8">
<!DOCTYPE html>
<html>
  <_head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myapp</title>
  </_head>
  <_body>

  <div data-spa-component="main"></div>

  <_script src="xlib/jquery/jquery.min.js"></_script>
  <_script src="xlib/handlebars/handlebars.min.js"></_script>
  <_script src="xlib/spa/spa-bundle.min.js"></_script>
  </_body>
</html>
</script>


</div>

