<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h2>Nested Paths</h2>
  <p>Refer to any deeply nested data using dot notation</p>
  <script type="text/code" class="code trim no-num-tool" data-lines="4">
    <div class="entry">
      <h1>{{title}}</h1>

      <h2>By {{author.name}}</h2>

      <div class="post">
        {{body}}
      </div>
    </div>
  </script>
  <h3>With Data</h3>

  <script type="text/code" class="code trim no-num-tool" data-lang="json">
  { title:"My New Post", author:{ name: "Mark K"}, body:"This is my first post!" }
  </script>

  <h3>Results in</h3>
  <script type="text/code" class="code trim no-toolbar" data-lines="4">
  <div class="entry">
    <h1>My New Post</h1>

    <h2>By Mark K</h2>

    <div class="post">
      This is my first post!
    </div>
  </div>
  </script>

</div>