<div id="containeraboutApp" class="container-component">
  <div class="header" data-i18n="lbl.appName"></div>
  <div class="content">
    <div class="ui grid">
      <div class="eight wide column abtImg"></div>
      <div class="eight wide column">
        <div class="ui grid pdt15">
          <div class="sixteen wide column bold" data-i18n="lbl.appName"></div>
          <div class="four wide column" data-i18n="lbl.version"></div>
          <div class="twelve wide column" data-i18n="lbl.app.version"></div>
          <div class="sixteen wide column">
            <div data-i18n="lbl.supportedBrowsers"></div>
            <div class="browserSupport">
              <div class="browser chrome"></div>
              <div class="vrsn" data-i18n="lbl.browser.chrome.version"></div>
            </div>
            <div class="browserSupport">
              <div class="browser firefox"></div>
              <div class="vrsn" data-i18n="lbl.browser.firefox.version"></div>
            </div>
          </div>
          <div class="sixteen wide column copyright" data-i18n="html:'lbl.app.copyright'"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <a class="ui button basic floated left" href="javascript:app.aboutApp.resetApp();" data-i18n="html:'lbl.btn.resetApp',title:'lbl.btn.resetApp.title'"></a>
    <button type="button" class="ui button primary cancel" data-i18n="html_title:'common.lbl.close'"></button>
  </div>
</div>
