<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h2>API Error Handling</h2>
  <p>Use SPA JS API built-in error handlers to handle Request Error.</p>

  <section>
  <script type="text/code" class="code trim no-num-tool" data-lang="JavaScript" data-title="apiConf.js">
    $.extend(spa.api, {
      onReqError: function (jqXHR, textStatus, errorThrown) {
        //This function is to handles if Ajax request itself failed
        //due to network error / server error
        //like 400 / 401 / 403/ 404 / 408 / 500 / etc.
        //use jqXHR.status for the HTTP ERROR CODE

        //doSomething for the HTTP REQUEST ERROR
      }
    });
  </script>
  </section>
</div>

<!--
,
  isCallSuccess: function (axResponse) {
    //Validate Response with your logic here.

    //Example:
    //return (_.isObject(axResponse)
    //        && axResponse.hasOwnProperty('axcode')
    //        && (axResponse.axcode == 0));

    // must return true/false;

    //true forward the execution control to Component-Render or
    //API’s successFunction

    //false forward the execution control to spa.api.onResError
  },
  onResError: function (axRes) {
    //TODO: DevTeam
    //This function is to handle when API response returns exceptions/errors
    //like when axResponse.axcode != 0

    //if (axRes.hasOwnProperty('axcode')) {
    //} else {
    //  alert('API responded with error. Check console for more info.');
    //}
  }
-->