<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h1>Component's Script</h1>

  <h2>The Basics</h2>
  <p>A component Script file <mark>componentX.js</mark> contains two SPA component helper functions.</p>

  <blockquote>
      <mark>spa.$( 'componentX' , { } )</mark> to define Component's base properties like template, target, dataUrl etc.
  </blockquote>
  <blockquote>
    <mark>spa.$extend( 'componentX' , { } )</mark> to define Component's extended properties like events
      and other custom actions to be performed on component UI.
  </blockquote>

  <script type="text/code" class="code trim" data-lang="JavaScript">
    spa.$('componentX', {

      //base properties

    });

    spa.$extend('componentX', {

      //extended properties

    });
  </script>

  <p>Refer Component's Base and Extended Properties section for more details.</p>
</div>