<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h1>SPA Defaults</h1>

  <section>
    <h3>Components Defaults</h3>

    <p>
      SPA comes with default settings for it's components and the same can be changed using <mark>spa.defaults.set()</mark> function.
      <script type="text/code" class="code no-toolbar" data-lang="JavaScript">
components: {
    rootPath       : 'app/components/'         // default components collection folder
  , inFolder       : true                      // .html, .css, .js inside component folder
  , templateExt    : '.html'                   // template extension ( could be .jsp | .php )
  , scriptExt      : '.js'                     // script extension ( could be .min.js )
  , dataPreRequest : function(){}              // function to be executed before each component's data API call
  , callback       : function(){}              // function to be executed after each component's render
  , extend$data    : true                      // enable/disable $data for each component
  , templateScript : false                     // allow/deny scripts inside template
  , templateCache  : true                      // enable/disable cache of templates. Recommended to disable during development.
}
      </script>

      <script type="text/code" class="code no-num-tool" data-lang="JavaScript">

//to change single default property
spa.defaults.set( 'components.templateExt', '.jsp' );

//to change multiple default properties
spa.defaults.set( { components: {
                      templateExt:'.jsp',
                      rootPath:'Components/',
                      inFolder:false}
                  } );

      </script>

    </p>

    <blockquote>
      <p>NOTE: Initialize global default settings immediately after spa.js bundle load.</p>

      <script type="text/code" class="code trim" data-lang="html" data-title="index.html">
        <!DOCTYPE html>
        <html>
          <_head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>MyApp</title>
          </_head>
          <_body>

          <div data-spa-component="main"></div>

          <_script src="xlib/jquery/jquery.min.js"        ></_script>
          <_script src="xlib/handlebars/handlebars.min.js"></_script>
          <_script src="xlib/spa/spa-bundle.min.js"       ></_script>

          <_script>
            spa.onInit = function() {

              //to change single default property
              spa.defaults.set( 'components.templateExt', '.jsp' );

              //to change multiple default properties
              spa.defaults.set( { components: {
                                    templateExt:'.jsp',
                                    rootPath:'Components/',
                                    inFolder:false}
                                } );
            }
          </_script>

          </_body>
        </html>
        </script>

    </blockquote>


  </section>

</div>