<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
<h1>SPA Component</h1>
<p>SPA Component is a partial view in a Single Page Application. The partial view is</p>
<ul class="ul-list">
  <li>
    - Plain HTML Template
  </li>
  <li>
    - May bind data using Handlebars syntax
  </li>
  <li>
    - May bind events (specified in its javascript file) to handle user interactions like clicks.
  </li>
</ul>
<h2>Component Structure</h2>
<p>A SPA component is <mark>sub-folder</mark> with <mark>.html</mark> and <mark>.js</mark> files in
  <span class="orange-txt"><strong>app/components</strong></span> folder.</p>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="structure-folder">
      <pre>
        <code>
          <span><span class="arr-down"></span><img src="app/images/folder.png">app</span>
          <span class="padding-ten"><span class="arr-down"></span><img src="app/images/folder.png">components</span>
          <span class="padding-twenty"><span class="arr-down"></span><img src="app/images/folder.png">componentX</span>
          <span class="padding-forty"><img src="app/images/HTML5.png">componentX.html</span>
          <span class="padding-forty"><img src="app/images/js.png">componentX.js</span>
          <span class="padding-twenty"><span class="arr-down"></span><img src="app/images/folder.png">header</span>
          <span class="padding-forty"><img src="app/images/HTML5.png">header.html</span>
          <span class="padding-forty"><img src="app/images/js.png">header.js</span>
          <span class="padding-twenty"><span class="arr-down"></span><img src="app/images/folder.png">footer</span>
          <span class="padding-forty"><img src="app/images/HTML5.png">footer.html</span>
          <span class="padding-forty"><img src="app/images/js.png">footer.js</span>
          <span class="padding-twenty"><span class="arr-down"></span><img src="app/images/folder.png">main</span>
          <span class="padding-forty"><img src="app/images/HTML5.png">main.html</span>
          <span class="padding-forty"><img src="app/images/js.png">main.js</span>
          <span class="padding-twenty"><span class="arr-left"></span><img src="app/images/folder.png">css</span>
          <span class="padding-twenty"><span class="arr-left"></span><img src="app/images/folder.png">js</span>
          <span class="padding-twenty"><span class="arr-left"></span><img src="app/images/folder.png">language</span>
          <span class="padding-ten"><span class="arr-left"></span><img src="app/images/folder.png">xlib</span>
          <span class="padding-twenty"><img src="app/images/HTML5.png">index.html</span>
        </code>
      </pre>
    </div>

  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="notes_red">
      <ul class="ul-list">
        <li>
          NOTE:</li>
        <li> 1. Name of FOLDER, HTML file and JS file should be same (case sensitive)
        </li>
        <br/>
        <li> 2. Component Name:
          <br> a. Case Sensitive
          <br> b. BEGINS with Alphabet
          <br> c. ONLY Alpha-numberic characters are allowed
          <br> d. NO special characters are allowed</li>
      </ul>
    </div>
  </div>
</div>

<h2>Using CLI</h2>
<p>Use <mark><a href="https://www.npmjs.com/package/spa-cli" target="_blank">spa-cli</a></mark> to create App and Component Structure quickly.</p>

<h3>Example</h3>
<p>For a quick start,
  <ol>
    <li>1. download this <a href="spa-examples_cdn/ex001-spa-basic-folder-struct+cdn.zip" download="" target="_blank">example code</a>.</li>
    <li>2. unzip to your workspace.</li>
    <li>3. open the folder in Visual Studio Code or any editor.</li>
    <li>4. open index.html with LiveServer (VS Code Extension) or your local web server.</li>
  </ol>
</p>

</div>