<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
<h1>Downloading SPA JS</h1>
<div>
  <h2>Direct Download</h2>
  <p>Since SPA JS is built on Handlebars libraries, download the dependency libraries from the respective sites into respective xlib folder.</p>
  <p><i>(To locally download these files, right-click on the link and select "Save as..." from the menu)</i></p>
  <p>For jQuery (<i>optional for SPA.js v2.87.0+</i>) <a href="//cdn.jsdelivr.net/npm/jquery@latest/dist/jquery.min.js" rel="noopener noreferrer" target="_blank" download="jquery.min.js">Download Latest</a> or visit
    <a href="https://jquery.com/download/" rel="noopener noreferrer" target="_blank">https://jquery.com/download/</a>
  </p>
  <p>For Handlebars <a href="//cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.min.js" rel="noopener noreferrer" target="_blank" download="handlebars.min.js">Download Latest</a> or visit
    <a href="https://handlebarsjs.com/installation/#downloading-handlebars" rel="noopener noreferrer" target="_blank">https://handlebarsjs.com/installation/#downloading-handlebars</a>
  </p>
  <p>For SPA JS <a href="//cdn.jsdelivr.net/gh/sucom/SPA.js@latest/dist/spa-bundle.min.js" rel="noopener noreferrer" target="_blank" download="spa-bundle.min.js">Download Latest (Production)</a>
    or <a href="//raw.githubusercontent.com/sucom/SPA.js/master/dist/spa-bundle.min.js" rel="noopener noreferrer" target="_blank" download="spa-bundle.min.js">Download Latest (Development)</a>
  </p>
  <div class="structure-folder">
    <pre>
      <div>
        <span><span class="arr-down"></span><img src="app/images/folder.png" alt="Folder">myApp</span>
        <span class="padding-ten"><img src="app/images/HTML5.png" alt="HTML">index.html</span>
        <span class="padding-ten"><span class="arr-left"></span><img src="app/images/folder.png" alt="Folder" style="margin-left: 4px !important;">app</span>
        <span class="padding-ten"><span class="arr-down"></span><img src="app/images/folder.png" alt="Folder">xlib</span>
        <span class="padding-twenty"><span class="arr-down"></span><img src="app/images/folder.png" alt="Folder">jquery (optional for SPA v2.87.0+)</span>
        <span class="padding-forty"><img src="app/images/js.png" alt="JS"><a href="//cdn.jsdelivr.net/npm/jquery@latest/dist/jquery.min.js" rel="noopener noreferrer" target="_blank" download="jquery.min.js">jquery.min.js</a></span>
        <span class="padding-twenty"><span class="arr-down"></span><img src="app/images/folder.png" alt="Folder">handlebars</span>
        <span class="padding-forty"><img src="app/images/js.png" alt="JS"><a href="//cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.min.js" rel="noopener noreferrer" target="_blank" download="handlebars.min.js">handlebars.min.js</a></span>
        <span class="padding-twenty"><span class="arr-down"></span><img src="app/images/folder.png" alt="Folder">spa</span>
        <span class="padding-forty"><img src="app/images/js.png" alt="JS"><a href="//cdn.jsdelivr.net/gh/sucom/SPA.js@latest/dist/spa-bundle.min.js" rel="noopener noreferrer" target="_blank" download="spa-bundle.min.js">spa-bundle.min.js</a></span>
      </div>
    </pre>
  </div>
</div>

<div>
  <h2>Using CDN</h2>
  <div>
    <p>If the application's end user has internet connection, then it’s recommended to use CDN</p>
    <script type="text/code" class="code trim no-num-tool" data-lang="html">
      <_script src="//cdn.jsdelivr.net/npm/jquery@latest/dist/jquery.min.js"          ></_script> <!-- optional for spa v2.87.0+ -->
      <_script src="//cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.min.js"  ></_script>
      <_script src="//cdn.jsdelivr.net/gh/sucom/SPA.js@latest/dist/spa-bundle.min.js" ></_script>
    </script>
  </div>
</div>

<hr/>
<blockquote class="blockquote">
  <p>
    In addition to dependent libraries, any 3rd party libraries like Bootstrap, Foundation, Semantic UI, Moments, DataTables,
    etc. can be downloaded and included in the project using bower or npm or yarn or direct download.
  </p>
</blockquote>
</div>