<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h2>Component's Extended Properties</h2>
  <h3><mark>events</mark></h3>

  <p>Event-binding to component elements.</p>

  <script type="text/code" class="code trim" data-lang="JavaScript">
    spa.$('componentX', {

      events: [
        { target: '#btnSubmit',
          onClick: function(){
            //doSomething onClick of element #btnSubmit
          }
        },

        { target: '#btnCancel',
          onClick: function(){
            //doSomething onClick of element #btnCancel
          }
        },

        { target: '#userName',
          onFocus: function(){
          //doSomething onFocus of element #userName
          },
          onKeyUp_KeyDown: function(){
          //doSomething onKeyUp and KeyDown of element #userName
          },
          onBlur: function(){
          //doSomething onBlur of element #userName
          }
        }
      ]

    });

  </script>

  <blockquote>
      events is an optional extended component property.
  </blockquote>

</div>