<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h1>Extensibility</h1>

  <section>
    <p>SPAjs is built on <a href="https://www.tutorialspoint.com/extreme_programming/extreme_programming_values_principles.htm" target="_blank">eXtreme Programming</a> Principles (KISS and YAGNI). Hence, the core team has decided to keep the framework simple and light. However, on need basis it can be extended with suitable libraries.
    </p>

    <p>This section gives some pointers to such libraries.</p>


    <blockquote>
      NOTE: The libraries mentioned in this section are FYI only. It's developers choice to choose the recommended or choose any other alternates. SPAjs does not support the recommended libraries directly.
    </blockquote>

  </section>
</div>