<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h1>Routing</h1>

  <section>
    <p>Though client-side Routing is an important feature of SPA, it is not a must feature. SPA can be built without routing. However, if your project requires client-side Routing, consider the following libraries or any other alternate according to your needs.
    </p>

    <ul>
      <li>
        <a href="http://visionmedia.github.io/page.js/" rel="noopener noreferrer" target="_blank">Page.js</a>
        <p>Tiny Express-inspired dependency free client-side routing library. This <a href="http://smalljs.org/client-side-routing/page/" rel="noopener noreferrer" target="_blank">Quick Guide</a> will help you to get started.</p>
      </li>

      <li>
        <a href="https://github.com/flatiron/director" rel="noopener noreferrer" target="_blank">director</a>
        <p>A dependency free routing library works in browser. Simplifies the development of Single Page Apps. Visit its <a href="https://github.com/flatiron/director" rel="noopener noreferrer" target="_blank">GitHub</a> repo for more details.</p>
      </li>
    </ul>
  </section>
</div>