<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h2>Component's Base Properties</h2>
  <h3><mark>scripts</mark></h3>

  <p>An optional property to load external scripts or modules. Specify the javascript files relative path(s) (with reference to index.html). A path beginning with <mark>'./'</mark> refers to a file path from current component's folder.</p>

  <script type="text/code" class="code trim" data-lang="JavaScript">
    spa.$('componentX', {

      scripts: [ 'app/modules/module-script.js', './modules/script1.js', './modules/script2.js' ]

    });
  </script>

  </div>