<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
  <h1>Get Started</h1>
  <p>Let's get started with building Single Page Application. Building a SPA begins with creating a simple folder structure in order to keep the files organized.</p>
  <h2>SPA Folder Structure</h2>
  <p>Create the following base folder structure under the application context.</p>
  <h2>Example:</h2>
  <p>AppContext: <mark>myApp</mark> </p>
  <p>Web Access: http://host:port/<mark>myApp</mark></p>
  <p><mark>myApp</mark> folder structure:</p>

  <div class="structure-folder">
    <pre>
      <div>
        <span><span class="arr-down"></span><img src="app/images/folder.png">myApp</span>
        <span class="padding-ten"><img src="app/images/HTML5.png">index.html</span>
        <span class="padding-ten"><span class="arr-down"></span><img src="app/images/folder.png">app</span>
        <span class="padding-thirty"><span class="arr-left"></span><img src="app/images/folder.png">components</span>
        <span class="padding-thirty"><span class="arr-left"></span><img src="app/images/folder.png">js</span>
        <span class="padding-thirty"><span class="arr-left"></span><img src="app/images/folder.png">css</span>
        <span class="padding-thirty"><span class="arr-left"></span><img src="app/images/folder.png">language</span>
        <span class="padding-ten"><span class="arr-down"></span><img src="app/images/folder.png">xlib</span>
        <span class="padding-thirty"><span class="arr-left"></span><img src="app/images/folder.png">jquery</span>
        <span class="padding-thirty"><span class="arr-left"></span><img src="app/images/folder.png">handlebars</span>
        <span class="padding-thirty"><span class="arr-left"></span><img src="app/images/folder.png">spa</span>
      </div>
    </pre>
  </div>
  <p>The <mark>index.html</mark> is the starting page of the application. Depending on the deployment technology stack the file/extension
      can be index<mark>.htm</mark> or index<mark>.php</mark> or index<mark>.cgi</mark> or index<mark>.pl</mark> or index<mark>.cshtml</mark> or <mark>default.html</mark></p>
  <p>The default starting page must be configured in the respective web server.</p>

  <blockquote>
    <ul>
      <li><strong>app/components</strong> – for the web page components</li>
      <li><strong>app/css</strong> – for the css files</li>
      <li><strong>app/js</strong> – for common javascript files</li>
      <li><strong>app/language</strong> – for i18n language files </li>
      <li><strong>xlib</strong> – for 3rd party library/framework files. It’s highly recommended to create sub folder for each of those libraries/frameworks.</li>
    </ul>
  </blockquote>
  <p>In some cases (<strong>bower</strong> or <strong>npm</strong> or <strong>yarn</strong> package downloader), the 3rd party libraries could be organized in other folders like
      <strong>bower_components</strong> or <strong>node_modules</strong>.</p>
  <p>The relevant files from these folders (.js and/or .css) will be referred in application start page ( <mark>index.html</mark> )</p>

  <h2>Editor Extension</h2>
  <p>Install <a href="https://marketplace.visualstudio.com/items?itemName=spajs.spajs" target="_blank">Visual Studio Code Extension</a> for code snippets in HTML and Javascript files.</p>

  <h2>Using CLI</h2>
  <p>Unlike other frameworks, Single Page Applications can be built using SPA.js without a CLI tool. However, if you prefer
      to create App and Component Structure quickly with some basic code snippets, use <mark><a href="https://www.npmjs.com/package/spa-cli" target="_blank">spa-cli</a></mark>.</p>

</div>