<div class="gradient"></div>
<nav class="navbar navbar-expand-md navbar-bg">
  <div class="container-fluid pd-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#home">
      <sub class="spa-version hide">{{_global_.spa.VERSION}}</sub>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mr-auto clear" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#home">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#getStarted">Get Started</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://spajs121.wordpress.com/" rel="noopener noreferrer" target="_blank">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>