<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h2>Component's Extended Event</h2>
  <h3><mark>onRemove</mark></h3>

  <p>A function to be executed just before the component is to be replaced by another component.</mark>.</p>

  <script type="text/code" class="code trim" data-lang="JavaScript">
    spa.$('componentX', {

      onRemove: function () {

        //doSomething before remove...

        //return false;   // return false; will stop removing this component from SPA DOM.

      }

    });
  </script>

  <blockquote>
      onRemove is an optional extended property. This can be overridden using <mark>spa.$render</mark> or <mark>spa.$refresh</mark> method.
  </blockquote>

  <script type="text/code" class="code trim" data-lang="JavaScript">
    spa.$render('componentX', {

      onRemove: function() {

        //doSomething before remove...

        //return false;   // return false; will stop removing this component from SPA DOM.

      }

    });

    spa.$refresh('componentX', {

      onRemove: function() {

        //doSomething before remove...

        //return false;   // return false; will stop removing this component from SPA DOM.

      }

    });

  </script>

</div>