<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h2>Component's Extended Event</h2>
  <h3><mark>onRefresh</mark></h3>

  <p>A function to be executed before component's refresh <mark>spa.$refresh</mark>.</p>

  <blockquote>
    NOTE: Starting v2.84.0+, the component structure has been simplified to define its properties using simple independent variables / functions.
  </blockquote>

  <script type="text/code" class="code trim" data-lang="JavaScript">
    /* v2.84.0+ */
    /* base properties */
    var _target = '#targetContainer';

    // ... ...

    /* component's events */

    function _onRefresh ( arg ) {
      // doSomething just before refresh this component
      // arg.data contains the finalTemplateData
      // optionally, return false; to stop the refresh

    }
  </script>

  <blockquote>
    Prior to v2.84.0
  </blockquote>

  <script type="text/code" class="code trim" data-lang="JavaScript">
    spa.$('componentX', {

      onRefresh: function () {
        //doSomething before refresh
      }

    });
  </script>

  <blockquote>
      onRefresh is an optional extended property. This can be overridden using <mark>spa.$refresh</mark> method.
  </blockquote>

  <script type="text/code" class="code trim" data-lang="JavaScript">
    spa.$refresh('componentX', {

      onRefresh: function() {
        //doSomething before refresh
      }

    });
  </script>

</div>