<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h2>Component's Extended Event</h2>
  <h3><mark>onRefresh</mark></h3>

  <p>A function to be executed before component's refresh <mark>spa.$refresh</mark>.</p>

  <script type="text/code" class="code trim" data-lang="JavaScript">
    spa.$extend('componentX', {

      onRefresh: function () {
        //doSomething before refresh
      }

    });
  </script>

  <blockquote>
      onRefresh is an optional extended property. This can be overridden using <mark>spa.$refresh</mark> method.
  </blockquote>

  <script type="text/code" class="code trim" data-lang="JavaScript">
    spa.$refresh('componentX', {

      onRefresh: function() {
        //doSomething before refresh
      }

    });
  </script>

</div>