<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h2>Component's Extended Event</h2>
  <h3><mark>onRender</mark></h3>

  <p>A function to be executed before component's render <mark>spa.$render</mark>.</p>

  <script type="text/code" class="code trim" data-lang="JavaScript">
    spa.$('componentX', {

      onRender: function () {
        //doSomething before render
      }

    });
  </script>

  <blockquote>
      onRender is an optional extended property. This can be overridden using <mark>spa.$render</mark> method.
  </blockquote>

  <script type="text/code" class="code trim" data-lang="JavaScript">
    spa.$render('componentX', {

      onRender: function() {
        //doSomething before render
      }

    });
  </script>

</div>