<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h2>Component's Base Properties</h2>
  <h3><mark>dataProcess</mark></h3>

  <p>Preprocessing External (API) Data before render.</p>

  <script type="text/code" class="code trim" data-lang="JavaScript">
    spa.$('componentX', {

      dataUrl: '@apiUrlKey',
      dataProcess: function( apiResponse, componentDataProperties ) {

        apiResponse['fullName'] = apiResponse.firstName + ' ' + apiResponse.lastName;
        apiResponse['newField'] = 'New Value';

        return apiResponse;
      }

    });
  </script>

  <blockquote>
    All base properties can be overridden before the render call using <mark>spa.$render( )</mark> method.
  </blockquote>
  <script type="text/code" class="code trim" data-lang="JavaScript">
    spa.$render('componentX', {

      dataProcess: function( apiResponse, componentDataProperties ) {

        //doSomething...

        return apiResponse;
      }

    });
  </script>

</div>