<x-component class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h2>Component Render</h2>
  <h3>Using HTML Attribute <mark>data-spa-component</mark></h3>

  <p>Render a Component with its default base properties.</p>
  <script type="text/code" class="code trim" data-lang="html">
    <div data-spa-component="header"></div>

    <div data-spa-component="footer"></div>
  </script>


  <h3>Using HTML tag <mark>&lt;spa-component&gt;</mark> or <mark>&lt;x-component&gt;</mark></h3>
  <h6>(from v2.66.0+)</h6>
  <script type="text/code" class="code trim" data-lang="html">
    <spa-component src="header"></spa-component>

    <x-component src="footer"></x-component>
  </script>

  <h3>To render nested spa-component</h3>
  <h6>(from v2.71.0+)</h6>
  <section>
    <p>prefix component path with $, else it will try to load server-side rendered component.</p>

    <i>using &lt;<mark>spa-component</mark>&gt; tag</i>
    <script type="text/code" class="code trim" data-lang="html">
      <spa-component src="$componentX/componentX1"></spa-component>
    </script>

    <i>using [<mark>data-spa-component</mark>] attribute</i>
    <script type="text/code" class="code trim" data-lang="html">
      <div data-spa-component="$componentX/componentX1"></div>
    </script>
  </section>

  <h3>To include server-side rendered html portion</h3>
  <h6>(from v2.75.0+)</h6>
  <section>
    <p>It's similar but not exact to <mark>iframe</mark> tag. So, the resulting content should not contain
      <strong>&lt;html&gt;</strong>, <strong>&lt;head&gt;</strong> and <strong>&lt;body&gt;</strong> tags.</p>

    <i>using &lt;<mark>spa-html</mark>&gt; tag</i>
    <script type="text/code" class="code trim" data-lang="html">
      <spa-html src="full/path/to/html/portion.html"></spa-html>
    </script>

    <i>using &lt;<mark>x-html</mark>&gt; tag</i>
    <script type="text/code" class="code trim" data-lang="html">
      <x-html src="full/path/to/html/portion.html"></x-html>
    </script>

  </section>

</div>