<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h2>REST API</h2>
  <p>SPA JS comes with built-in methods for REST API calls (GET, POST, PUT and DELETE) for faster development.</p>

  <section>
  <h3>Signatures</h3>
  <script type="text/code" class="code no-num-tool" data-lang="JavaScript" data-title="REST API Signatures">

spa.api.get(apiUrl:String, data:Object, onSuccessFn:Function, onErrorFn:Function, wait:Boolean, {ajaxOptions: {}} );

spa.api.post(apiUrl:String, data:Object, onSuccessFn:Function, onErrorFn:Function, wait:Boolean, {ajaxOptions: {}} );

spa.api.put(apiUrl:String, data:Object, onSuccessFn:Function, onErrorFn:Function, wait:Boolean, {ajaxOptions: {}} );

spa.api.del(apiUrl:String, data:Object, onSuccessFn:Function, onErrorFn:Function, wait:Boolean, {ajaxOptions: {}} );
  </script>

  <blockquote>
    <mark>NOTE:</mark>
    <ul>
      <li>- spa.api methods are short-hand methods for <mark>jQuery.ajax( )</mark></li>
      <li>- for default ajaxOptions for all spa.api methods refer <a href="#getStarted/spaApi">SPA API Basic / Configuration</a> section</li>
      <li>- ajaxOptions override param is supported only from SPA.js version:2.35.0+</li>
      <li>- If neded, feel free to use <a href="http://api.jquery.com/jquery.ajax/" target="_blank">$.ajax( )</a> instead of spa.api methods</li>
      <li>- Also feel free to use any javascript AJAX libraries like <a href="https://visionmedia.github.io/superagent/" target="_blank">SuperAgent</a>, <a href="https://github.github.io/fetch/" target="_blank">Fetch</a>, etc.</li>
    </ul>
  </blockquote>
  </section>

  <section>
  <h3>apiUrl:String (mandate)</h3>

  <script type="text/code" class="code trim no-num-tool" data-lang="JavaScript" data-title="apiConf.js">
    $.extend(spa.api.urls, {

      readFormA: 'api/path/to/read/data',
      saveFormA: 'api/path/to/save/data/{id}'

    });
  </script>

  <script type="text/code" class="code trim no-num-tool" data-lang="JavaScript" data-title="Param: apiUrl">
    apiUrl = 'api/path/to/read/data';

    //OR

    apiUrl = '@readFormA';

    //OR

    apiUrl = spa.api.url( '@saveFormA', {id: '12345'} )
  </script>

  <h3>data:Object (optional)</h3>
  <script type="text/code" class="code trim no-num-tool" data-lang="JavaScript" data-title="Param: data">
    data = { }; //optional
  </script>

  <h3>onSuccessFn:Function (optional)</h3>
  <script type="text/code" class="code trim no-num-tool" data-lang="JavaScript" data-title="Param: onSuccessFn">
    onSuccessFn = function(apiResponse) {
      //doSomething
    };
  </script>

  <h3>onErrorFn:Function (optional)</h3>
  <script type="text/code" class="code trim no-num-tool" data-lang="JavaScript" data-title="Param: onSuccessFn">
    //Supported from v2.39.1 onwards

    onErrorFn = function(apiResponse) {
      //doSomething
    };
  </script>

  <h3>wait:Boolean (optional)</h3>
  <script type="text/code" class="code trim no-num-tool" data-lang="JavaScript" data-title="Param: wait">
    wait = false; //async: true; default
    //OR
    wait = true;  //async: false
  </script>

  <h3>ajaxOptions:Object (optional);</h3>
  <script type="text/code" class="code trim no-num-tool" data-lang="JavaScript" data-title="Param: wait">
    { ajaxOptions: {
        dataType: 'json',
        contentType: 'application/json',
        headers: {
          Accept: 'application/json',
          locale: 'en_US',
          authToken: 'ALBL-DJDUE8-93939-0099KKDKD-03939K-KSKSJDMDKIUFHSLS-38373DJ847DHKBLBJJ'
        }
    }}
  </script>
  <blockquote>
    <mark>NOTE:</mark>
    <ul>
      <li>- for default ajaxOptions for all spa.api methods refer <a href="#getStarted/spaApi">SPA API Basic / Configuration</a> section</li>
      <li>- ajaxOptions override param is supported only from SPA.js version:2.35.0+</li>
    </ul>
  </blockquote>

  </section>

  <section>
    <h2>Passing parameters ( <mark>urlParams</mark> ) to REST API URLs</h2>

    <p>Use <mark>spa.api.url</mark> method to re-construct API URL with urlParams.</p>
    <script type="text/code" class="code trim no-num-tool" data-lang="JavaScript" data-title="apiConf.js">
      $.extend(spa.api.urls, {

        readFormA: 'api/path/to/read/data',
        saveFormA: 'api/path/to/save/data/{id}'

      });
    </script>
    <script type="text/code" class="code trim no-num-tool" data-lang="JavaScript" data-title="apiUrl with dynamic params">

var apiUrl = spa.api.url( '@saveFormA', {id: '12345'} )

    </script>

  </section>

  <section>
    <h2>Multiple REST API calls using <mark>spa.api.mix</mark></h2>
    <p>(<i>v2.64.0+</i>) It's easy to make multiple API calls and do something when all done.</p>
    <script type="text/code" class="code trim no-num-tool" data-lang="JavaScript">
      var api1 = spa.api.post('@api1UrlKey', payLoadObj),
          api2 = spa.api.get('@api2UrlKey', payLoadObj),
          api3 = spa.api.get('@api3UrlKey', payLoadObj);

      spa.api.mix( [api1, api2, api3], function _whenAllDone( api1resData, api2resData, api3resData ){

        //doSomething here with api1resData, api2resData, api3resData

      }).fail(function(){

        //something gone wrong!

      });

    </script>
  </section>

  <section>
    <mark>NOTE:</mark>
    <blockquote>
      SPA APIs, spa.api['get' | 'post' | 'put' | 'del' | 'mix'] are short-hand wrapper for jQuery ajax.
      Hence, it's possible to chain using then, fail, done methods on them.
      For more details, refer <a href="//api.jquery.com/jquery.ajax/" target="_blank">jQuery.ajax</a> API documentation.
    </blockquote>
    <script type="text/code" class="code trim no-num-tool" data-lang="JavaScript">
      var apiX = spa.api.get('@apiXUrlKey', payLoadObj);

      apiX
        .then(function(apiResponse, strTextStatus, jqXHRobj){

        //doSomething on success

      }).fail(function( jqXHRobj, strTextStatus, strErrorThrown ){

        //something gone wrong. check arguments.

      }).done(function( apiResponse, strTextStatus, jqXHRobj ){

        //doSomething when done.

      }).always(function( data|jqXHR, strTextStatus, jqXHRobj|strErrorThrown ) {

        //doSomething always

      });
    </script>
  </section>

</div>