<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h1>Components UI</h1>
  <p>The component UI file in SPA is a
    <mark>handlebars</mark> template content with additional custom helpers. For detailed template documentation refer:
    <a href="http://handlebarsjs.com/" target="_blank">Handlebars JS</a>
  </p>

  <h2>Simple UI</h2>
  <p>The partial HTML file contains plain HTML Tags in <mark>componentX.html</mark></p>
  <script type="text/code" class="code trim no-num-tool" data-lang="html" data-title="header.html">
  <h1>Welcome to SPA!</h1>
  </script>

  <p class="Notes">NOTE: Refer to Component Script file (
    <mark>componentX.js</mark> ) for Single Line Template Specification to avoid a separate HTML file.
  </p>

  <script type="text/code" class="code trim no-num-tool" data-lang="html" data-title="footer.html">
  <div class="container container-footer">
    <div class="row ">
      <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
        <div class="footer-menu text-right">
          <p>Copyright &copy; 2005 - 2017
            <a href="#home">SPA JS</a> | code licensed under
            <a target="_blank" href="https://github.com/sucom/SPA.js/blob/master/LICENSE">MIT</a> |
            <a target="_blank" href="https://github.com/sucom/SPA.js">
              <img src="app/images/github.png" class="github">
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  </script>

</div>