<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h1>SPA Defaults</h1>

  <section>
    <h3>spa.onUrlHashChange()</h3>

    <p>
      <script type="text/code" class="code no-num-tool" data-lang="html" data-title="index.html">

    … … … … …

    <_script src="xlib/jquery/jquery-3.2.1.min.js"          ></_script>
    <_script src="xlib/handlebars/handlebars-v4.0.11.min.js"></_script>
    <_script src="xlib/spajs/spa-bundle.min.js"             ></_script>
    <_script src="app/js/apiConf.js"                        ></_script>

    <_script>

      spa.onUrlHashChange = function( urlHash ){

        //doSomething with function arg urlHash as array
        //or
        //use spa.urlHash method to access urlHash

      };

    </_script>
  </_body>
</_html>
      </script>
    </p>
  </section>

</div>