<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h1>SPA Events</h1>

  <section>
    <h3>spa.onReady()</h3>

    <p>
      <script type="text/code" class="code no-num-tool" data-lang="html" data-title="index.html">

    … … … … …

    <_script src="xlib/jquery/jquery.min.js"          ></_script> <!-- optional for spa v2.87.0+ -->
    <_script src="xlib/handlebars/handlebars.min.js"  ></_script>
    <_script src="xlib/spajs/spa-bundle.min.js"       ></_script>
    <_script src="app/js/apiConf.js"                  ></_script>

    <_script>

      spa.onReady = function() {
        //doSomething...
      }

    </_script>
  </_body>
</_html>
      </script>
    </p>
  </section>

</div>