<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h1>SPA Routes</h1>
  <h6>(from v2.53.0+)</h6>
  <p>&nbsp;</p>
  <p>SPAjs bundle comes with built-in declarative (HTML attribute) routing feature with an option to control browser navigation.</p>

  <!-- <section>
    <h2>Examples</h2>

    <p>For a quick start,
      <ol>
        <li>1. download this <a href="spa-examples_cdn/ex-spa-form-validation.zip" download="" target="_blank">examples bundle</a>.</li>
        <li>2. unzip to your workspace.</li>
        <li>3. open the folder in Visual Studio Code or any editor.</li>
        <li>4. open index.html with LiveServer (VS Code Extension) or your local web server.</li>
      </ol>
    </p>
  </section> -->

  <section>
    <h2>Rules:</h2>
    <blockquote>
      <p>
        <ul>
          <li>1. It's not recommended to use <mark>a[href]</mark> attribute for spa-routes as [href] is not an valid attribute
            for span,div,button,i, etc., which can be used for routes. However, if it's really important and necessity
            to use a[href], refer the below section on Routes by a[href].</li>
          <li>2. Route name - Keep It Simple. Only Alpha-numeric characters ( a-z A-Z 0-9 ) with dash ( - ) and/or underscore ( _ ).</li>
        </ul>
      </p>
    </blockquote>
  </section>

  <section>
    <h2>Route [attribute]</h2>
    <p>SPAjs uses custom attribute <mark>[data-spa-route]</mark> to specify route path in HTML.</p>

    <p>Attribute <mark>[data-spa-route]</mark> can be added to any HTML element, which has <mark>[onclick]</mark> event-attribute defined in HTML.
      Refer Component's UI section for <a href="#getStarted/eventBindingInTemplate">event-binding in Templates</a>.
      Use route element's <mark>[data-]</mark> attributes to pass data (from Template) to onclick (route) functions.

      <p><i>componentX.html</i></p>
      <script type="text/code" class="code trim no-num-tool" data-lang="html" data-title="componentX.html">
        <button data-spa-route="/home" onclick="{$}authenticateUser();">Login</button>

        ... ...

        <a data-spa-route="/home/view-profile" onclick=" ... " class=" ... ">View Profile</a>

        <a data-spa-route="/home/edit-profile" onclick=" ... " class=" ... ">Edit Profile</a>

        ... ...

        <span data-spa-route="/home/settings" onclick=" ... " class=" ... ">

          ... ...

        </span>
      </script>
    </p>

    <p><mark>Route-Path</mark> spcification.
      <ul>
        <!-- <li>If begins with <mark>#</mark>, Replaces the complete route path.</li> -->
        <li>If begins with <mark>/</mark>, Replaces the complete route path.</li>
        <li>If begins with <mark>-</mark>, Reduces the path by a number (default: 1) followed by <mark>-</mark>.</li>
      </ul>

      <p><i>componentX.html</i></p>
      <script type="text/code" class="code trim no-num-tool" data-lang="html" data-title="componentX.html">
        <a data-spa-route="/home/view-profile" onclick=" ... " class=" ... "> View Profile </a>
        <!-- replaces the prvious route url

          if exisiting path: //127.0.0.1/index.html#/home/settings/network
            the new path ==> //127.0.0.1/index.html#/home/view-profile
        -->

        ... ...

        <a data-spa-route="/home/view-profile" onclick=" ... " class=" ... "> View Profile </a>
        <!-- replace the existing path

          if exisiting path: //127.0.0.1/index.html#/home
            the new path ==> //127.0.0.1/index.html#/home/view-profile

          if exisiting path: //127.0.0.1/index.html#
            the new path ==> //127.0.0.1/index.html#/home/view-profile
        -->

        ... ...

        <a data-spa-route="member/view-profile" onclick=" ... " class=" ... "> View Profile </a>
        <!-- inserts to existing path if exisiting path contains "member", else appends to the existing path

          if exisiting path: //127.0.0.1/index.html#/home/member
            the new path ==> //127.0.0.1/index.html#/home/member/view-profile

          if exisiting path: //127.0.0.1/index.html#/home
            the new path ==> //127.0.0.1/index.html#/home/member/view-profile
        -->

        ... ...

        <button data-spa-route="-" onclick=" ... " class=" ... "> Cancel </button>
        <!-- reduces the existing path by 1 from end. For more specify a Number after -

          if exisiting path: //127.0.0.1/index.html#/home/view-profile
            the new path ==> //127.0.0.1/index.html#/home
        -->
      </script>

      <ul>
        <li>If begins with <mark>^</mark>, does not replace the existing path, if exists. If not, then applies the rule (as above) specified after <mark>^</mark>.</li>
        <li>If begins with <mark>&gt;</mark>, does not update the existing path in the address path, but remembers for the next route triggered with <mark>&lt;</mark></li>
        <li>If begins with <mark>&lt;</mark>, applies the stored route by <mark>&gt;</mark>.</li>
      </ul>

      <p><i>componentX.html</i></p>
      <script type="text/code" class="code trim no-num-tool" data-lang="html" data-title="componentX.html">
        <button data-spa-route="^/home" onclick="{$}authenticateUser();">Login</button>
        <!-- When the bookmarked url is loaded and stopped by a login screen
          and then the Login-click event retains the path (bookmarked-url) to navigate after login. -->

        ... ...

        <a data-spa-route="/home/view-profile" onclick=" ... " class=" ... "> View Profile </a>
        <!-- replaces the existing path

          if exisiting path: //127.0.0.1/index.html#/home
            the new path ==> //127.0.0.1/index.html#/home/view-profile

          if exisiting path: //127.0.0.1/index.html#/home/settings
            the new path ==> //127.0.0.1/index.html#/home/view-profile
        -->

        ... ...

        <button data-spa-route=">-" onclick=" ... " class=" ... "> Cancel </button>
        <!-- reduces the existing path by 1 from end. For more specify a Number after -

          if exisiting path: //127.0.0.1/index.html#/home/edit-profile
            the new path ==> //127.0.0.1/index.html#/home (Stored for later route by < )
        -->


        <button data-spa-route="<" onclick=" ... " class=" ... "> Yes, Cancel </button>
        <-- replaces with the stored path

          if exisiting path: //127.0.0.1/index.html#/home/edit-profile

          the stored path ==> //127.0.0.1/index.html#/home

          the new path ==> //127.0.0.1/index.html#/home
        -->
      </script>
    </p>

  </section>

  <section>
    <h2>Block browser's navigation.</h2>
    <p>It's easy to block browser's navigation within SPA using a class <mark>BLOCK-SPA-NAV</mark>.
      If any component's HTML element contains the class <mark>BLOCK-SPA-NAV</mark>, then the browser's navigation BACK and RLOAD will be blocked.
      <p><i>componentX.html</i></p>
      <script type="text/code" class="code trim no-num-tool" data-lang="html" data-title="componentX.html">
      <form id="FormX" class="BLOCK-SPA-NAV">
        <!-- when this component is rendered, the browser's navigation will be restricted.
          Forces the user to navigate only by the UI elements within SPA.
        -->

        ... ... ...

        <div>
          <button onclick="..."> Cancel </button>
        </div>

        <div>
          <button onclick="..."> Save </button>
        </div>

      </form>
      </script>
    </p>
    <p>In addition to the restriction a cutom function can be called using <mark>[onNavAway]</mark> event attribute.
      <p><i>componentX.html</i></p>
      <script type="text/code" class="code trim no-num-tool" data-lang="html" data-title="componentX.html">
        <form id="FormX" class="BLOCK-SPA-NAV" onNavAway="{$}confirmBeforeLeave();">
          <!-- When the user navigates away using browser's navigation (BACK or RELOAD) or any other UI element outside this FORM,
            this component's method "confirmBeforeLeave" will be invoked with 3 params (toUrl, $BLOCK-SPA-NAV-Container, $byEl)
            if the navigation is BACK or RELOAD, the $byEl will be undefined.
          -->

          ... ... ...

          <div>
            <button onclick="..."> Cancel </button>
          </div>

          <div>
            <button onclick="..."> Save </button>
          </div>

        </form>
      </script>
    </p>

    <p>Instead of a cutom function, the <mark>[onNavAway]</mark> event attribute can point to an element within the container,
      whose [onclick] event will be triggered based on it's enable state.
      <p><i>componentX.html</i></p>
      <script type="text/code" class="code trim no-num-tool" data-lang="html" data-title="componentX.html">
        <form id="FormX" class="BLOCK-SPA-NAV" onNavAway="#btnCancel">
          <!-- When the user navigates away using browser's navigation (BACK or RELOAD) or any other UI element outside this FORM,
            this component's #btnCancel button's onclick event will be triggered (if the button state is enabled) with NO PARAMS.
            However, the toUrl and byEl's [id] and [data-spa-route] attributes will be added to the target (#btnCancel) element.
            Just follow the below example and investigate the function arguments and it's data properties.
          -->

          ... ... ...

          <div>
            <button id="btnCancel" onclick="{$}cancel(this);"> Cancel </button>
          </div>

          <div>
            <button id="btnSubmit" onclick="..."> Save </button>
          </div>

        </form>
      </script>
    </p>
  </section>

  <section>
    <h2>Hide Routes</h2>
    <p>If needed, the display of routes url in the browser's address bar can be disabled using body class <mark>HIDE-SPA-NAV</mark>.
      <p><i>index.html</i></p>
      <script type="text/code" class="code trim no-num-tool" data-lang="html" data-title="index.html">
      <body class="HIDE-SPA-NAV">
      </script>
    </p>
  </section>

  <section>
    <h2>Routes without hash (#)</h2>
    <h6>(from v2.53.0+)</h6>
    <p>If needed, the routes can be done without hash ( <mark>#</mark> ).
      Instead, the slash ( <mark>/</mark> ) will be used. After the SPA ( <mark>index.html</mark> ) is loaded, all routes will be handled at the browser side.
      However, when the page re-loads or loaded by a bookmark, the web server needs to be configured to load the SPA (index.html)
      and the path to the index file must be mentioned in the <mark>base[href]</mark> attribute <mark>(&lt;base href="/path-to-index-file"&gt;)</mark>
      inside the <mark>&lt;head&gt;</mark> tag as well as in <mark>&lt;body&gt;</mark> tag.
      <p><i>index.html</i></p>
      <script type="text/code" class="code trim no-num-tool" data-lang="html" data-title="index.html" data-lines="13,22">
      <!DOCTYPE html>
      <html>

      <_head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache">

        <base href="/"> <!-- or  href="/my-app-context/" -->

        <title>Stealth(identity)</title>
        <link rel="shortcut icon" href="brand/favicon.png" type="image/vnd.microsoft.icon" />
        <link rel="stylesheet" href="xlib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="xlib/bootstrap/css/bootstrap-slider.min.css">
        <link rel="stylesheet" href="app/styles/styles.css" />
      </_head>

      <_body data-spa-routes="base:'/'"> <!-- or base:'/my-app-context/' -->

        ...

      </_body>

      </script>
    </p>
    <p>
      <blockquote>
        <mark>Caution: The non-hash routing is an experimental feature and requires a server-side configuration.</mark>
      </blockquote>
    </p>
  </section>

  <section>
    <h2>Routes by a[href]</h2>
    <h6>(from v2.53.0+)</h6>
    <p>If needed, the routes can be done using <mark>[href]</mark> or any other <mark>[data-]</mark> (preferred) attribut by indicating the attribute in configuration.
      <p><i>index.html</i></p>
      <script type="text/code" class="code trim no-num-tool" data-lang="html" data-title="index.html" data-lines="20">
      <!DOCTYPE html>
      <html>

      <_head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache">

        <title>Stealth(identity)</title>
        <link rel="shortcut icon" href="brand/favicon.png" type="image/vnd.microsoft.icon" />
        <link rel="stylesheet" href="xlib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="xlib/bootstrap/css/bootstrap-slider.min.css">
        <link rel="stylesheet" href="app/styles/styles.css" />
      </_head>

      <_body data-spa-routes="attr:{route:'href'}">

        ...

        <a href="/home/view-profile" onclick=" ... " class=" ... "> View Profile </a>

        ... ...

        <a href="/home/edit-profile" onclick=" ... " class=" ... "> Edit Profile </a>

        ... ...

        <button href="-" onclick=" ... " class=" ... "> Cancel </button>

        ... ...

        <a href="/external/page/url" class="no-spa-route"> Visit our partner site </a>
        <!-- adding class "no-spa-route" will ignore internal SPA routing for this href url -->

      </_body>

      </script>
    </p>
    <p>
      <blockquote>
        <mark>NOTE:</mark>
        <ul>
          <li>Need to use class (<mark>no-spa-route</mark>) for external links to avoid routing. See above example.</li>
          <li>The [href] attribute routing can be combined with non-hash routing by combining the configuration in the body tag.</li>
        </ul>
      </blockquote>
      <p><i>index.html</i></p>
      <script type="text/code" class="code trim no-num-tool" data-lang="html" data-title="index.html" data-lines="13,22">
      <!DOCTYPE html>
      <html>

      <_head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache">

        <base href="/"> <!-- or  href="/my-app-context/" -->

        <title>Stealth(identity)</title>
        <link rel="shortcut icon" href="brand/favicon.png" type="image/vnd.microsoft.icon" />
        <link rel="stylesheet" href="xlib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="xlib/bootstrap/css/bootstrap-slider.min.css">
        <link rel="stylesheet" href="app/styles/styles.css" />
      </_head>

      <_body data-spa-routes="base:'/', attr:{route:'href'}">
        <!-- or data-spa-routes="base:'/my-app-context/', attr:{route:'href'}" -->

        ...

      </_body>

      </script>

    </p>
  </section>

  <!-- <section>
    <h2>Examples</h2>

    <p>For a quick start,
      <ol>
        <li>1. download this <a href="spa-examples_cdn/ex-spa-form-validation.zip" download="" target="_blank">examples bundle</a>.</li>
        <li>2. unzip to your workspace.</li>
        <li>3. open the folder in Visual Studio Code or any editor.</li>
        <li>4. open index.html with LiveServer (VS Code Extension) or your local web server.</li>
      </ol>
    </p>
  </section> -->

</div>