<div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
  <h2>Component's Base Properties</h2>
  <h3><mark>style</mark></h3>

  <p>Specify the css file's relative path (to index.html). Use <mark>'.'</mark> to load current component's css file.</p>

  <blockquote>
    NOTE: Starting v2.84.0+, the component structure has been simplified to define its properties using simple independent variables prefixed with underscore ( _ ).
  </blockquote>

  <script type="text/code" class="code trim" data-lang="JavaScript">
    /* v2.84.0+
    *
    * prefix the base properties with underscore ( _ ) and define using var or let or const depending on the browser support.
    *
    */

    /* base properties -------------------------*/

    var _style = '.';

    // ... ...
  </script>

  <blockquote>
    Prior to v2.84.0: A function
      <mark>spa.$( 'componentX' , { } )</mark> is used to define Component's base properties (without underscore ( _ ) prefix like template, target, dataUrl etc.) and extended properties like events
      and other custom actions to be performed on component UI.
  </blockquote>

  <script type="text/code" class="code trim" data-lang="JavaScript">
    spa.$('componentX', {

      style: '.'

    });
  </script>
  <p>This loads componentX.css on render call.</p>

  <blockquote>
      style is an optional property. Used if the component has its own style specifications.
  </blockquote>

  <blockquote>
    All base properties can be overridden before the render call using <mark>spa.$render( )</mark> method.
  </blockquote>
  <script type="text/code" class="code trim" data-lang="JavaScript">
    spa.$render('componentX', {

      style: '.'

    });
  </script>

  </div>