<div id="containerGitLabIssue" class="container-component">

  <div class="ui menu search mr0">
    <div class="item">
      <div class="ui form">
        <div class="inline fields">
          <div class="field">
            <a target="_blank" href="{{web_url}}" title="Click to view this issue at GitLab"><strong>Issue<br/>#{{iid}}</strong></a>
          </div>
          <div class="field">
            <a class="user" href="{{author.web_url}}" target="_blank">
              <div class="user-pic" title="Click to view Author's profile"><img src="{{author.avatar_url}}"></div>
              <span class="name" title="Click to view Author's profile">{{author.name}}</span>
              <span class="desc" title="utc: {{created_at}}">{{utcToLocal created_at}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="right item">
      <form>
        <div class="ui form">
          <div class="inline fields">
            <div class="field pd0">
              <label>Assigned To</label>
              <select name="assignToNewMember" id="assignToNewMember" class="ui fluid dropdown" onchange="app.gitLabIssue.assignTo();" title="Select member to Assign To">
                <option value="">-select-</option>
              </select>
              <button type="button" class="ui button primary" data-i18n="lbl.btn.issues.assignToMe" onclick="app.gitLabIssue.assignToMe();" title="Assign this issue to me"></button>
              <a href="javascript:app.gitLabIssue.refresh();" class="ui button icon" data-i18n="title:'lbl.title.refresh'" ><i id="btnIssueFullRefresh" class="icon repeat loading"></i></a>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>

  <div class="advanced-content pd15">
    <div class="labels">
      <div class="ui menu search mr0">
        <div class="item">
          <div class="ui form">
            <div class="inline fields">
              <div class="field">Milestone:</div>
              <div class="field"><b>{{milestone.title}}</b></div>
            </div>
          </div>
        </div>

        <div class="item center">
          <div class="ui form">
            <div class="inline fields">
              <div class="field">Severity:</div>
              <div class="field"><b>{{toIssueSeverity labels}}</b></div>
            </div>
          </div>
        </div>

        <div class="item right">
          <div class="ui form">
            <div class="inline fields">
              <div class="field">Status:</div>
              <div class="field"><b>{{toIssueStatus labels}}</b></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="labels">
      <div class="ui menu search mr0">
        <div class="item">
          <div class="ui form">
            <div class="inline fields">
              <div class="field"><b>{{labels}}</b></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui comments">
      <form class="ui reply form">
        <div class="fields">
        <div class="field fourteen wide">
          <textarea id="issueNewNoteBody"></textarea>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input id="closeIssue" type="checkbox" tabindex="0" class="hidden">
            <label>Close Issue</label>
          </div>
          <button type="button" class="ui button icon primary mrt5" onclick="app.gitLabIssue.postNewNote();"><i id="btnIssuePost" class="send icon"></i> Post</button>
        </div>
        </div>
      </form>
      <div class="comment-scroll">
        <a href="javascript:app.gitLabIssue.listNotes();" class="ui button icon refresh" data-i18n="title:'lbl.title.refresh'" ><i id="btnCommentsFullRefresh" class="icon repeat"></i></a>
        <div class="ui styled accordion">
          <div class="active title">
            <i class="dropdown icon"></i>
            <span id="issueNotesCount">{{user_notes_count}}</span> <span data-i18n="lbl.member.comments"></span>  <span class="ui italic grey"> + <span id="sysNotesCount">0</span> <span data-i18n="lbl.issue.actions"></span></span>
          </div>
          <div class="active content">
           <div id="container4issueNotes"></div>
          </div>
        </div>

        <a target="_blank" href="{{web_url}}"><h2 class="ui header" title="Click to view this issue at GitLab">#{{iid}} {{title}}</h2></a>
        <hr/>

        <div class="sub header">{{{description}}}</div>

      </div>
    </div>
  </div>
</div>
