<div id="containerIssues" class="container-component">
  <h2 class="page-header"><i class="ui block icons stl-icons issues"></i><span data-i18n="lbl.comp.title.settings"></span></h2>
  <div class="content autoheight">    
    <div class="ui block header"><div class="ui small circular label">1</div><span data-i18n="lbl.title.settings.primary"></span></div>
    <div class="ui grid">
      <div class="twelve wide column">
        <form name="fm_Settings" id="fm_Settings" method="post" onsubmit="return(false);" data-validate-scope="" data-validate-common="{ onFocus:[{fn:_clearSpaValidateMsg}] }">
          <div class="ui form mrlr15" id="containerPrimaySettings">
            <div class="inline fields">
              <div class="two wide field label"><span class="colon" data-i18n="lbl.form.settings.conName"></span></div>
              <div class="twelve wide field"><input type="text" name="conName" maxlength="10" id="conName" data-bind="value:'conName'" data-validate="{onBlur:[{fn:_check.required, msg:'i18n:msg.validate.required.conName', offline:true}] }"/></div>
            </div>
            <div class="inline fields">
              <div class="two wide field label"><span class="colon" data-i18n="lbl.form.settings.gitLabUrl"></span></div>
              <div class="twelve wide field"><input type="text" name="url" id="url" data-bind="value:'url'" data-validate="{onBlur:[{fn:_check.required, msg:'i18n:msg.validate.required.gitLabUrl', offline:true}] }"/></div>
            </div>
            <div class="inline fields">
              <div class="two wide field label"><span class="colon" data-i18n="lbl.form.settings.privateKey"></span></div>
              <div class="twelve wide field"><input type="password" name="key" id="key" data-bind="value:'key'" data-validate="{onBlur:[{fn:_check.required, msg:'i18n:msg.validate.required.gitLabKey', offline:true}] }"/></div>
            </div>
            <div class="inline fields">
              <div class="two wide field label"></div>
              <div class="twelve wide field"><button class="ui button primary" data-i18n="lbl.btn.saveConSettings" onclick="app.settings.save();"></button></div>
            </div>
          </div>
        </form>
      </div>
      <div class="four wide column user-info" id="containerProfile">
        
      </div>
    </div>
    
    
    <div class="ui block header"><div class="ui small circular label">2</div><span data-i18n="lbl.title.settings.project"></span><button class="ui button floated right primary mrt-5" data-i18n="lbl.btn.fetch" onclick="app.settings.fetchPrj();"></button></div>
    <div class="ui form mrlr15" id="containerPrjList"></div>
  </div>
</div>