<div id="containerHeader" class="ui top menu container-component">
  <a href="javascript:app.footer.aboutApp()" class="item"><h3 data-i18n="lbl.appName"></h3></a>
  <div class="item ui checkbox hide" id="isLiveCheckContainer" onclick="app.header.toggleLive();">
    <label><h3>LIVE</h3></label>
    <input id="isLiveCheck" type="checkbox" tabindex="0" class="hidden">
  </div>
  <div class="menu right">
    <a href="javascript:app.header.issues()" data-menu="issues" class="item authBlock hide"><i class="file text icon"></i><span data-i18n="html:'lbl.topMenu.AllIssues'"></span></a>
    <a href="javascript:app.header.settings()" data-menu="settings" class="item authBlock hide"><i class="settings icon"></i><span data-i18n="html:'lbl.topMenu.settiings'"></span></a>

    <div class="ui dropdown item authBlock hide" id="userBlock">
      <span id="welcome" data-i18n="html:'lbl.welcome'"></span>&nbsp; <i class="user icon"></i><span id="userDisplayName"></span> <i class="angle down icon"></i>
      <div class="menu">
        <a class="item" data-i18n="html:'lbl.changePassword'" onclick="app.header.changePassword()"></a>
        <a class="item" data-i18n="html:'common.lbl.signOut'" onclick="app.auth.signOut()"></a>
        <a class="item hide"></a>
      </div>
    </div>
    <div class="ui dropdown item black"><span id="langSelection">EN <i class="dropdown us flag"></i></span>
      <div class="menu">
        <!--<a class="item" onclick="app.settings.setLang('en_US')"><i class="us flag"></i> English</a>-->
        <!--<a class="item" onclick="app.settings.setLang('ja_JP')"><i class="jp flag"></i> Japanese</a>-->
      </div>
    </div>
  </div>
</div>