<div id="containerChangePassword" class="container-component">
  <div class="header" data-i18n="lbl.changePassword"></div>
  <form name="fm_changePassword" id="fm_changePassword" method="post" onsubmit="return(false);" data-validate-scope="" data-validate-common="{ onFocus:[{fn:_clearSpaValidateMsg}] }">
    <div class="content">
      <input type="hidden" name="UserName" value="{{storeName}}" />

      <div class="ui form">
        <div class="inline fields">
          <div class="three wide field label"><span class="colon required" data-i18n="lbl.currentPassword "></span></div>
          <div class="field">
            <input type="password" name="CurrentPassword" id="currentPassword" value="" data-validate="{onBlur:[{fn:_check.required, msg:'i18n:msg.validate.required.currentPassword', offline:true}]}">
          </div>
        </div>
        <div class="inline fields">
          <div class="three wide field label"><span class="colon required" data-i18n="lbl.newPassword"></span></div>
          <div class="field">
            <input type="password" name="NewPassword" id="newPassword" value="" data-validate="{onBlur:[{fn:_check.required, msg:'i18n:msg.validate.required.newPassword', offline:true}]}">
          </div>
        </div>
        <div class="inline fields">
          <div class="three wide field label"><span class="colon required" data-i18n="lbl.confirmPassword"></span></div>
          <div class="field">
            <input type="password" name="ConfirmPassword" id="confirmPassword" value="" data-validate="{onBlur:[{fn:_check.required, msg:'i18n:msg.validate.required.confirmPassword', offline:true}]}">
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <button type="submit" class="ui button primary" id="okButton" title="" onclick="app.changePassword.save();" data-i18n="html:'common.lbl.save', title:'lbl.title.save.changepassword'"></button>
      <button type="button" class="ui button primary cancel" id="cancelButton" data-i18n="html:'common.lbl.cancel', title:'lbl.title.cancel.changePassword'"></button>
    </div>
  </form>
</div>
